<?xml version="1.0"?>
<launch>
    <arg name="world" default="$(find bluerov2_description)/worlds/ocean_waves.world"/>
    <arg name="gui" default="true"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

   

    <param name="sphere_description" command="$(find xacro)/xacro --inorder $(find bluerov2_description)/urdf/sphere.urdf"/>

    <node name="spawn_sphere" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-param sphere_description -urdf -model sphere"/>
</launch> 